.conversor {
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background: #44475a;
    color: aliceblue;
    border-radius: 10px;
}

.valor {
    background: #6272a4;
    color: aliceblue;
    border-radius: 12px;
    padding: 5px;
}

.botao{
    background: #50fa7b;
    border-radius: 12px;
    padding: 7px;
    margin-left: 10px;
}